<!-- Footer Fragment 입니다 -->
<footer th:fragment="footer-fragment" class="footer section section-sm">
	<style>
		/* 모바일 스타일 */
		@media only screen and (max-width: 767px) {
			.section-sm {
			    padding: 30px 20px;
			}
		}
	</style>
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
        <!-- About -->
        <div class="block about">
          <!-- footer logo -->
          <img src="/assets/images/logo-footer.png" alt="">
          <!-- description -->
          <p class="alt-color">Second Web Project<br>사용자간 중고 물품 거래 웹서비스</p>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1 col-md-3">
        <div class="block">
          <h4>Our Team</h4>
          <ul>
            <li>김세희</li>
            <li>김진수</li>
            <li>이상수</li>
            <li>정해준</li>
            <li>최민식</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-7">
        <div class="block">
          <h4>Site Pages</h4>
          <ul>
            <li><a href="https://github.com/dorigom33/JJHAD" target="_blank">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<footer class="footer-bottom">
    <!-- Container Start -->
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-12">
          <!-- Copyright -->
          <div class="copyright">
            <p>Copyright © 2016. All Rights Reserved</p>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <!-- Social Icons -->
          <ul class="social-media-icons text-right">
              <li><a class="fa fa-facebook" href=""></a></li>
              <li><a class="fa fa-twitter" href=""></a></li>
              <li><a class="fa fa-pinterest-p" href=""></a></li>
              <li><a class="fa fa-vimeo" href=""></a></li>
            </ul>
        </div>
      </div>
    </div>
    <!-- Container End -->
</footer>